<div class="world-stage">
  @if (transitioning()) {
    <div class="design-wrapper design-leave">
      @switch (previousWorld()) {
        @case ('gta')           { <app-gta-design /> }
        @case ('amongus')       { <app-among-us-design /> }
        @case ('subnautica')    { <app-subnautica-design /> }
        @case ('fallout')       { <app-fallout-design /> }
        @case ('cyberpunk')     { <app-cyberpunk-design /> }
        @case ('assassins-creed') { <app-assassins-creed-design /> }
        @case ('fortnite')      { <app-fortnite-design /> }
        @case ('dark-souls')    { <app-dark-souls-design /> }
        @case ('no-mans-sky')   { <app-no-mans-sky-design /> }
        @case ('god-of-war')    { <app-god-of-war-design /> }
      }
    </div>
  }

  <div class="design-wrapper" [class.design-enter]="transitioning()">
    @switch (worldId()) {
      @case ('gta')           { <app-gta-design /> }
      @case ('amongus')       { <app-among-us-design /> }
      @case ('subnautica')    { <app-subnautica-design /> }
      @case ('fallout')       { <app-fallout-design /> }
      @case ('cyberpunk')     { <app-cyberpunk-design /> }
      @case ('assassins-creed') { <app-assassins-creed-design /> }
      @case ('fortnite')      { <app-fortnite-design /> }
      @case ('dark-souls')    { <app-dark-souls-design /> }
      @case ('no-mans-sky')   { <app-no-mans-sky-design /> }
      @case ('god-of-war')    { <app-god-of-war-design /> }
      @default {
        <div class="hub-layout">
          <div class="hub-center">
            <app-spotlight
              [worldId]="hoveredWorld()"
              [sessionActive]="sessionActive()"
              (enterWorld)="enterWorld.emit($event)"
              (startSession)="startSession.emit()"
            />
            <div class="scanline-sweep"></div>
          </div>
          <div class="telemetria-wrapper" [class.visible]="session.sessionActive()">
            <app-panel-telemetria
              [sessionActive]="session.sessionActive()"
              [elapsedSeconds]="session.elapsedSeconds()"
            />
          </div>
        </div>
      }
    }
  </div>
</div>
